<!-- 경로변수 사용할 때는 앞에 > 들어감 -->
{{>layouts/header}}

<!-- contents -->
<div class="bg-dark text-white p-5">
    <!--bg = 배경
        text = 글자
        padding = 여백
        margin = 여백 -->
    <h1>{{username}}님, 다음에 또 만나요~!</h1>
</div>

{{>layouts/footer}}
